# FLR

In [1]:
import numpy as np
import torch
import random
import copy
import matplotlib.pyplot as plt

In [2]:
from load_data import *
from poison_utils import *

In [3]:
X_tr, X_te, y_tr, y_te, xs_tr, xs_te = load_lsac_data(svm=True,random_state=42,intercept=True)

In [4]:
from fairLR_train import *

In [5]:
train_flr(data = 'adult',save_dir = '../results', filename = 'adult_FLR_model')

load data: adult
{'sex': array([1., 1., 0., ..., 1., 1., 0.])}
for svm min:  -1.0 and max:  1.0
train FLR model
None
save model
saved in  ../results/adult_adult_FLR_model.sm
save testdata
saved in  ../results/adult_flr_testX.te ../results/adult_flr_testY.te ../results/adult_flr_testZ.te

In [6]:
X_tr.shape

(18585, 10)

In [7]:
filepath='../data/lsac_proc.csv'
df = pd.read_csv(filepath)

In [8]:
df.head()

,Unnamed: 0,zfygpa,zgpa,DOB_yr,isPartTime,sex,race,cluster_tier,family_income,lsat,ugpa,pass_bar,weighted_lsat_ugpa
0,0,-1.79,0.00,68.0,0.0,1.0,0.0,2.0,4.0,30.0,3.1,0.0,625.789460
1,1,1.33,1.88,69.0,0.0,1.0,0.0,4.0,5.0,44.0,3.5,1.0,886.842082
2,2,-0.11,-0.57,69.0,0.0,1.0,0.0,2.0,4.0,29.0,3.5,1.0,649.999987
3,3,1.22,0.95,58.0,1.0,1.0,0.0,3.0,5.0,35.0,3.0,0.0,694.736825
4,4,0.88,0.00,51.0,1.0,1.0,0.0,2.0,4.0,39.0,2.9,0.0,747.894717

In [9]:
df.columns

Index(['Unnamed: 0', 'zfygpa', 'zgpa', 'DOB_yr', 'isPartTime', 'sex', 'race',
       'cluster_tier', 'family_income', 'lsat', 'ugpa', 'pass_bar',
       'weighted_lsat_ugpa'],
      dtype='object')